/* Estilos base */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* Estilos para el contenedor principal */
.video-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  flex-wrap: wrap;
}

/* Estilos para el contenedor del video principal */
.video-container {
  width: 70%;
  max-width: 900px;
  margin-right: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.video-container iframe {
  width: 100%;
  height: 500px;
}

/* Estilos para la sección de videos sugeridos */
.suggested-videos {
  width: 30%;
  max-width: 400px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: white;
}

/* Estilos para la lista de videos sugeridos */
.video-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Estilos para cada miniatura de video sugerido */
.video-thumbnail {
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.video-thumbnail:hover {
  transform: scale(1.05);
}

.video-thumbnail img {
  width: 120px;
  height: 90px;
  object-fit: cover;
}

/* Estilos para los detalles del video sugerido */
.video-details {
  flex: 1;
  padding: 10px;
}

.video-title {
  font-weight: bold;
  margin: 0;
  font-size: 0.9rem;
}
p {
  color: white;
}
.channel-description  {
  margin: 5px 0 0;
  color: #c0c0c0;
  font-size: 0.8rem;
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .video-page {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }

  .video-container {
    width: 100%;
    max-width: calc(100% - 40px);
    margin-right: 0;
    margin-bottom: 10px;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
  }

  .video-container iframe {
    width: 100%;
    height: 320px;
  }

  .suggested-videos {
    width: 100%;
    max-width: 100%;
  }
}

/* Media query para pantallas medianas */
@media screen and (min-width: 769px) {
  .video-container {
    width: 60%; /* Cambia el ancho del video principal en pantallas medianas */
  }
}