<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport 
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="isSidenavOpen">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/Inicio">Principal </a>
      <a mat-list-item href="/Dazn">Dazn </a>
      <a mat-list-item href="#">ESPN</a>
      <a mat-list-item href="#">DIRECTV</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleSidenav()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a href="/Inicio" class="link">Deportes</a>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
